@import "../../../styles/bootstrap-variables";
@import "bootstrap/scss/tables";

.table{
  table-layout: fixed;
  border-spacing: 0;
  margin-bottom: 0;
  thead th{
    border-bottom: none;
    border-top: none;
  }
  &.table-sm{
    font-size: 0.875rem;
  }
}
.bs-table-wrapper{
  //overflow: auto;
  display: flex;
  flex-direction: column;
}
.bs-table-header{
  flex-shrink: 0;
  overflow: hidden;
  .table{
    table-layout: fixed;
    th{
      border-bottom: 1px solid #dee2e6;
    }
  }
}
.bs-table-body{
  flex: 1;
  overflow: auto;
}
.bs-table-cell-fixed-left,
.bs-table-cell-fixed-right {
  position: sticky!important;
  background-color: #fff;
}
.bs-table{
  &.table-bordered{
    thead{
      th:first-child{
        border-left: none;
      }
      th:last-child{
        border-right: none;
      }
    }
   tbody{
     tr:last-child{
       td{
         border-bottom: none;
       }
     }
     td:first-child{
       border-left: none;
     }
     td:last-child{
       border-right: none;
     }
   }
  }
}
.bs-table-header + .bs-table-body{
  tbody tr:first-child{
    td{
      border-top: none;
    }
  }
}
