.writing-guide{
  margin: 1rem 0 2rem 0;
  text-align: center;
  img{
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 1rem auto;
  }
  .start-write-btn{
    letter-spacing: 2px;
  }
}

/*推荐的专栏列表 start*/
.recommend-zhuanlan-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after{
    display: block;
    content: ' ';
  }
  &::after,
  .zhuanlan-item{
    width: 31%;
    flex: 0 0 31%;
    margin-bottom: 2rem;
  }
}
/*推荐的专栏列表 end*/

@media (max-width: 960px) {
  /*推荐的专栏列表 start*/
  .recommend-zhuanlan-list{
    &::after,
    .zhuanlan-item{
      width: 45%;
      flex: 0 0 45%;
    }
  }
  /*推荐的专栏列表 end*/
}
.loadmore-btn-wrap{
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  /*推荐的专栏列表 start*/
  .recommend-zhuanlan-list{
    &::after,
    .zhuanlan-item{
      width: 100%;
      flex: 0 0 100%;
    }
  }
  /*推荐的专栏列表 end*/
}
