.bs-date-time-editor{
  //position: relative;
  display: inline-block;
  vertical-align: middle;
  &.is-focus{
    .form-control{
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }
  .is-valid,
  .is-invalid{
    & + .bs-input-suffix{
      .custom-suffix-icon{
        display: none;
      }
    }
  }
}
.bs-picker-panel-container{
  border-radius: 0.24rem 0.25rem;
  border: 1px solid #efefef;
  overflow: hidden;
  background-color: #fff;
}
.bs-picker-dropdown{
  position: absolute;
  z-index: 1000;
  border-radius: 0.24rem 0.25rem;
  box-shadow: 0 1px 0.5rem rgba(0,0,0,0.15);
  font-size: 0.875rem;
}
.bs-picker-panel{
  background-color: #fff;
  &.has-panel-sidebar{
    display: flex;
  }
}
.bs-picker-footer{
  border-top: 1px solid #efefef;
}
.bs-picker-btns{
  display: flex;
  padding: 0.5rem 0.875rem;
  .bs-picker-ok,
  .bs-picker-clear{
    margin-left: auto;
  }
}
